<!DOCTYPE html>

<!--資管二A 411022938 陳霈哲-->

<html lang="en">
    <head>
		<meta name="msapplication-TileColor" content="#603cba">
		<meta name="theme-color" content="hsl(333, 10%, 40%)"> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<body background="http://120.110.112.128/pu/student/1111_CSP/411022938/img/bg.jpg">
        <title>課堂作業 | 陳霈哲</title>
    </head>

    <body>
    <style>
      .msg_box{
        max-width: 90%;
        padding: 30px;
        margin: 30px;
        border-radius: 10px;
        box-shadow: 4px 4px 11px 1px grey;
        flex-direction: column;
        align-items: center;
        position: relative;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <div class="msg_box" style="background-image: url('http://120.110.112.128/pu/student/1111_CSP/411022938/img/bg2.jpg');">
	<h1><a href="https://elearning.pu.edu.tw/learn/index.php"target="_blank">elearning</a></h1><br>
	<h1><a href="https://tronclass.pu.edu.tw/"target="_blank">Tronclass</a></h1><br>
    </div>
    </body>
</html>
