<!DOCTYPE html>

<!--資管二A 411022938 陳霈哲-->

<html lang="en">
    <head>
		<meta name="msapplication-TileColor" content="#603cba">
		<meta name="theme-color" content="hsl(333, 10%, 40%)"> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<body background="img/bg.jpg">
        <title>個人網站 | 陳霈哲</title>
    </head>

    <body>
    <style>
      .msg_box{
        max-width: 90%;
        padding: 30px;
        margin: 30px;
        border-radius: 10px;
        box-shadow: 4px 4px 11px 1px grey;
        flex-direction: column;
        align-items: center;
        position: relative;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <div class="msg_box" style="background-image: url('http://120.110.112.128/pu/student/1111_CSP/411022938/img/bg2.jpg');">
        <h1 style="text-align:center">網頁前端設計 資管二A 陳霈哲</h1>
      <div class="msg_box">
	  <table border="3" align ="center" style = "table-layout:fixed" width = "100%">
        <tr>
		<td colspan="2" align ="center"><br>
        <td colspan="2" align ="center"><br>
		<h1><a href="html/myself.html"target="_blank">自我介紹</a></h1><br>
        <td colspan="2" align ="center"><br>
		<h1><a href="html/classschedule.html"target="_blank">課表</a></h1><br>
        <td colspan="2" align ="center"><br>
		<h1><a href="html/www.html"target="_blank">常用連結</a></h2><br>
        <td colspan="2" align ="center"><br>
		<h1><a href="html/onlinelearning.html"target="_blank">線上學習</a></h2><br>
        <td colspan="2" align ="center"><br>
		<h1><a href="html/homework.html"target="_blank">課堂作業</a></h2><br>
        <tr>
		<td colspan="2">
		<h1><a href="https://www.pu.edu.tw/"target="_blank">靜宜大學</a></h1><br>
        <h1><a href="html/classschedule.html"target="_blank">學習歷程</a></h1><br>
        <h1><a href="https://www.youtube.com/channel/UCSHV6W9Wy_99XBbJPvNrHyA"target="_blank">YouTube頻道</a></h1><br>
        <h1><a href="https://discord.gg/esfWFSsSYJ"target="_blank">Discord群組</a></h1><br>		
		<h1><a href="https://forum.gamer.com.tw/C.php?bsn=23772&snA=19177"target="_blank">遊戲分享</a></h1><br>
		
		
		<td colspan="5">
		<p style="font-size:24px;text-align: left;font-weight:bold">我的名字叫陳霈哲，2X歲。家住海邊，未婚。我在大學為學分打拼。每天都要打破幾片平板才肯罷休。我不吸麻，酒僅止於淺嘗。晚上沒有在跟你睡覺的，每天只要睡足5個小時。睡前，我一定喝一杯熱咖啡，然後打2小時的osu，上了床，馬上打貓戰。一覺到天暗，絕不把疲勞和壓力，留給突襲時間。朋友都說我很正常。</p>
		<td colspan="5" align ="center">
		<img src="img/20200602_233821.jpg" width="100%"></img>
		<tr>
		<td colspan="2">
		<td colspan="10" align ="center"><br><audio src="music/music1.mp3" controls ></audio>
		
	</table>		
    </div>
    <footer><i><b>
		<p align=left>製作日期
        <br>2022年9月21日<br></p></i></b>
    </footer>
    </body>
</html>
