<!DOCTYPE html>
<!--資管二A 411022938 陳霈哲-->

<head>
  <title>陳霈哲 | 自傳與履歷</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="icon" href="static/images/icon.png">
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="static/js/jquery.lavalamp.min.js"></script>
  <script type="text/javascript">
    $(function() {
      $("#lava_menu").lavaLamp({
        fx: "backout",
        speed: 800
      });
    });
  </script>

    <script type="text/javascript" src="static/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>

</head>
<body>
  <div id="main">	
    <div id="header">  
      <h1><b>陳霈哲</b> <span>個人網頁</span></h1>	
	  <h2>資訊管理導論</h2>
    </div><!--close header-->	    
  <div class="msg_box">
	  <div id="site_content">
	    <div id="menu_container">  
	      <div id="menubar">
          <ul class="lavaLampWithImage" id="lava_menu">
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="ourwork.html">Our Work</a></li>
            <li><a href="testimonials.html">Testimonials</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
	    </div><!--close menubar-->
	  </div><!--close menu_container-->
		
      <div class="sidebar_container">   		  
		    <div class="sidebar">
          <div class="sidebar_item">
            <h2>學 歷</h2>
            <h4>靜宜大學 資訊管理系</h4>
            <h4>彰化高商 資料處理科</h4>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		    <div class="sidebar">
          <div class="sidebar_item">
            <h2>證 照</h2>
            <h4>電腦軟體應用 丙級</h4>
            <h4>會計事務-資訊 丙級</h4>
            <h4>會計事務-人工記帳 丙級</h4>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->   
		    <div class="sidebar">
          <div class="sidebar_item">
            <h2>社 群</h2>
			      <h4><a href="#">Read more</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim.</p>
		        <a href="#">Read more</a>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->   
      </div><!--close sidebar_container-->
		    
	    <div id="banner_image">
	      <div id="slider-wrapper">        
            <div id="slider" class="nivoSlider">
              <img src="static/images/20220820_125844.jpg" alt="" />
              <img src="static/images/300634507_1026672077907767_774258089651487416_n.jpg" alt="" />
		      </div><!--close slider-->
		    </div><!--close slider-wrapper-->
	    </div><!--close banner_image-->	
		
      <div id="content">
        <div class="content_item">
          <h3>嗨你好，歡迎來到我的網站</h3>
          <p>我的名字叫陳霈哲，2X歲。家住海邊，未婚。我在大學為學分打拼。每天都要打破幾片平板才肯罷休。我不吸麻，酒僅止於淺嘗。晚上沒有在跟你睡覺的，每天只要睡足5個小時。睡前，我一定喝一杯熱咖啡，然後打2小時的osu，上了床，馬上打貓戰。一覺到天暗，絕不把疲勞和壓力，留給突襲時間。朋友都說我很正常。</p>
          <h3>Place your heading here</h3>
          <div style="width:200px; float:left; padding: 0px 0px 10px 20px;"><img alt="image" src="static/images/image.jpg" width="78%"/></div>
          <p>Ut tincidunt, ante vel fermentum iaculis, turpis sem pulvinar diam, sit amet ullamcorper nibh dui ac nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos:</p>
          <p>Ut tincidunt, ante vel fermentum iaculis, turpis sem pulvinar diam, sit amet ullamcorper nibh dui ac nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos:</p>
		</div><!--close content_item-->	
	      	
       <br style="clear:both;" />
      </div><!--close content-->	
    </div><!--close site_content-->	
    </div>
    <div id="footer">  
      <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a> | <a href="http://fotogrph.com/">Images</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>
    </div><!--close footer-->	
  </div><!--close main-->	
</body>
</html>
